*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
}
.navbar{
    padding-left: 40vw;
    padding-top: 2vw;
    position: fixed;
    width: 100%;
    box-shadow: 0 1vw 2vw rgb(0,0,0,0.2);
    height: 4vw;
    background-color: white;
    z-index: 2;
    
}
.navbar a{
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    font-size: 1w;
    font-weight: bold;
}
a:hover{
    color: rgba(252,185,0,1) ;
    text-decoration: underline;
}

.intro {
    padding-top: 15vw;
    display: flex;
    width: 100%;
    justify-content: space-around; 
    background:linear-gradient(135deg, #fbfbfb 60%, #fbd214 40% );
    color: #32333c;
}
.title button {
    height: 4vw;
    width: 12vw;
    margin-top: 3vw;
    color: white;
    background-color: #fbd214;
    border: none;
    font-size: 1.5vw;
    margin-left: 5vw;

}
.intro h3{
    font-size: 4vw;
    font-weight: bold;
}
.intro p{
    font-size: 1.2vw;
}
.intro img{
    width: 30%;
    margin-top: -7vw;
    margin-right: 3vw;
    z-index: 1;
    margin-bottom: 3vw;
}
.title{
    margin-top: 5vw;
    padding-left: 8vw;
    padding-bottom: 12vw;
}
/* ........................................................................................................................... */
.about h1{
    font-weight: bolder;
    color:#32333c; 
    padding-top: 5vw;
}
.about h1 span{
    text-decoration: underline #fbd214;

}
.about{
   display: flex;
   color: #32333c;
   margin-top: 10vw;
   margin-left: 10vw;
   justify-content: space-around;
   margin-bottom: 5vw;
   width: 80%;
   
}
.interests p{
    padding-bottom: 1vw;
}
.experience{
    background-color: #fbfbfb; 
    width: 80%;
    margin-left: 10vw;

}
.experience h2{
    color: #32333c; 
    text-align: center;
    padding-top: 5vw;
    font-size: 2vw;
    font-weight: bolder;
    text-decoration: underline #fbd214;
   
}
.story{
    display:flex;
    padding-top: 5vw;
    padding-bottom: 10vw;
    flex-direction: row;
    
}
.container{
    border: 0.1vw solid #fbd214;
    word-wrap: wrap;
    width: 80%;
    margin-bottom: 2vw;
    padding: 2vw;
    /* background-color: white; */
    color: #32333c;
    margin: 2vw;

}
.container h3{
    padding-bottom: 1vw;
}

/* .............................................................................................................. */
.contact{
    width: 80%;
    background-color: #fbd214;
    height: 20vw;
    color: #32333c;
    display: flex;
    justify-content: space-around;
    padding-top: 7vw;
    margin-left: 10vw;
}
.contact h2{
    color: white;
    font-size: 3vw;
}
.contact button{
    color: #fbd214;
    font-weight:bold ;
    width: 10vw;
    height: 3vw;
    background-color: white;
    border: none;
    font-size: 1.5vw;
}

.contact span {
    font-size: 5vw;
}
/* ................................................................................................................. */
.images img{
    border-radius: 3vw;
    width: 40%;
    height: 20vw;
    padding: 1vw;
}
.others{
    color: #32333c;
    padding-left:5vw ;
    display: flex;
}
.portfolio{
    margin-top: 5vw;
    background-color: #fbfbfb;
}
.portfolio h2{
    padding: 5vw;
    text-align: center;
    font-size: 3vw;
}
.burger{
    padding-top: 5vw;
}
.burger h3{
    padding-left: 2vw;
    padding-bottom: 1vw;
}
.insurance{
    padding-bottom: 10vw;
    padding-top: 5vw;
    /* justify-content: space-around; */
    color: #32333c;
    padding-left:5vw ;
    display: flex;

}
.photos img{
    border-radius: 3vw;
    width: 40%;
    height: 20vw;
    padding: 1vw;

}
.website h3{
    padding-left: 2vw;
    padding-bottom: 1vw;
}
/* .photos{
    margin-left: 5vw;
} */
.website{
    padding-top: 5vw;
    padding-right: 14vw;
    margin-left: 5vw;
}
.footer{
    display: flex;
    justify-content: space-around;
    height: 5vw;
    padding-top: 2vw;
}