*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.navbar{
    padding-left: 40vw;
    padding-top: 2vw;
    position: fixed;
    width: 100%;
    box-shadow: 0 1vw 2vw rgb(0,0,0,0.2);
    height: 4vw;
    background-color: white;
    z-index: 2;
    
}
.navbar a{
    padding-right: 2vw;
    text-decoration: none;
    color: black;
    font-size: 1w;
    font-weight: bold;
}
a:hover{
    color: rgba(252,185,0,1) ;
    text-decoration: underline;
}

.intro {
    padding-top: 15vw;
    display: flex;
    width: 100%;
    justify-content: space-around; 
    background-color:#fbfbfb;
  
    color: #32333c;
}
.title button {
    height: 4vw;
    width: 12vw;
    margin-top: 3vw;
    color: white;
    background-color: #feb633;
    border: none;
    font-size: 1.5vw;
    margin-left: 5vw;

}
.intro h3{
    font-size: 4vw;
    font-weight: bold;
}
.intro p{
    font-size: 1.2vw;
}
.intro img{
    width: 30%;
    margin-top: -7vw;
    margin-right: 8vw;
    z-index: 1;
    margin-bottom: 3vw;
}
.title{
    margin-top: 5vw;
    padding-left: 8vw;
    padding-bottom: 12vw;
}
/* ........................................................................................................................... */
.about h1{
    font-weight: bolder;
    color:#32333c; 
    padding-top: 5vw;
}
.about h1 span{
    text-decoration: underline #feb633 ;

}
.about{
   display: flex;
   font-family: Verdana, sans-serif;
   color: #32333c;
   margin-top: 5vw;
   margin-left: 20vw;
   justify-content: space-around;
   
}
.interests p{
    padding-bottom: 1vw;
}
.interests h3{
    padding-bottom: 1vw;
    text-align: center;
}
.interests{

}


